<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <%- include('navbar', {links}) %>
        <div class="messageBoard">
            <p class="title">Mini Message Board</p>
            <% messages.forEach(message => { %>
                <div class="message">     
                    <form action="/delete_<%= message.id %>" method="post" class="remove">
                        <button type="submit"></button>
                    </form>    
                    <p class="user"><%= message.name %></p>
                    <p><%= message.text %></p>
                    <p class="date">
                        <span><%= message.time %></span>
                        <a href="/message_<%= message.id %>" class="detailsBtn"></a>
                        <span><%= message.date %></span>
                    </p>
                </div>
            <% }) %>
        </div> 
    </body>
</html>