<html>
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="details">
            
            <p>Date: <%= message.date %></p>
            <p>Time: <%= message.time %></p>
            <p>Name: <%= message.name %></p>

            <div class="edit">
                <form action="/edit_<%= message.id %>" method="post" style="display: none;" id="editForm">
                    Text:
                    <textarea name="message" id="editTextarea">
                        <%= message.text %>
                    </textarea>
                    <button type="submit">apply</button>
                </form>

                <p id="editText">Text: <%= message.text %></p>   
                
                <button onclick="edit()" class="editBtn">edit</button>
            </div>
        </div>

        <script>
            function edit() {
                const form = document.getElementById('editForm');
                const text = document.getElementById('editText');
                const btn = document.querySelector('.editBtn');

                form.style.display =
                    form.style.display === 'none' ? 'block' : 'none';

                text.style.display =
                    text.style.display === 'none' ? 'block' : 'none';

                btn.textContent =
                    btn.textContent === 'edit' ? 'cancel' : 'edit';
            }
        </script>
    </body>
</html>
